<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Preferences</title>
    </head>
    <body>
        <form action = "/prefs" method = "post">
            <input type="text" name = "genre1">
            <input type="text" name = "genre2">
            <input type="text" name = "artist1">
            <input type="text" name = "artist2">
            <input type="text" name = "artist3">
            <button>Add</button>
        </form>
    </body>
</html>