<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Expose</title>
	<link rel="stylesheet" href="../masonry.css">

</head>
<body>
	<h1>results page</h1>


		
        <input type="text" placeholder="Search for another artist">
        <button id = "searchButton">Search Another</button>
        <button id = "popButton">Popularity</button>
		<div class = "wrapper">
			        <div class="" id="container">
			        </div>
		</div>

<script type="text/javascript">

var searchArtist = function () {
	var xhr = new XMLHttpRequest();
	xhr.addEventListener( 'load', function ( e ) {

		var d = xhr.responseText
		var parsed = JSON.parse( d );

	} );
	xhr.send();
};

var arrayOfArtists = <%- array %>
var echoKey = <%- echoKey  %>

function search(arrayOfObj){
    var resultArray = []
    for (var i=0;  i < arrayOfObj.length; i++) {
        var j = i+1;
		
        if (arrayOfObj[i].name === arrayOfObj[j].name) {
        	resultArray.push(arrayOfObj[i].name)
            
        }
        j++
    }
}

var arrayOfChoices = [];

var searchSimilar = function ( picks, artist, echoKey, arr, choices) {
  var xhr = new XMLHttpRequest();

  var echoUrl = "http://developer.echonest.com/api/v4/artist/similar?api_key="+echoKey+"&name="+artist+"&bucket=id:CAOCJCS12C028B69A6&limit=true&results=15"
  xhr.open( "GET", echoUrl )
  xhr.addEventListener( 'load', function ( e ) {

    var similarArtists = JSON.parse(xhr.responseText)
    var arrayOfSimilars = similarArtists[ "response" ][ "artists" ];
    arrayOfSimilars.forEach(function(artist){
    	arr.push(artist.name)
    });

    var id = similarArtists[ "response" ][ "artists" ][ 0 ][ "id" ];
    var name = similarArtists[ "response" ][ "artists" ][ 0 ][ "name" ];
    console.log(picks[0]+" yielded "+arrayOfNames1);
    console.log(picks[1]+" yielded "+arrayOfNames2);
    console.log(picks[2]+" yielded "+arrayOfNames3);
    
checkArrays(arrayOfNames1,arrayOfNames2,arrayOfNames3,arrayOfChoices)    
displaySuggestion(picks, choices);
    });
  xhr.send();
};

    
    
    console.log(arrayOfChoices);
var checkArrays = function(arr1,arr2,arr3,choiceArr){
	for (var i = 0; i < arr1.length; i++) {
    	for (var j = 0; j < arr2.length; j++) {
    		for (var k = 0; k < arr2.length; k++) {
        	if (arr1[i] === arr2[j] ) {
          	console.log('arr2 contains: '+arr2[j]+" and arr1 contains "+arr1[i]);
        			choiceArr.push(arr1[i])
        		} else if (arr1[i] === arr3[k]) {
        			console.log('arr3 contains '+arr3[k]+' and arr1 contains '+arr1[i]);
        			choiceArr.push(arr1[i])
        		} else if (arr2[j] === arr3[k]) {
        			console.log('arr2 contains '+arr2[j]+' and arr3 contains '+arr3[k]);
        		choiceArr.push(arr2[j])
        		}
    		}
		}
	}
};

var displaySuggestion = function(arr1, arr2){
	arr1.forEach(function(pick){
		arr2.forEach(function(name){
			while (name !== pick)
			console.log("You might also like"+name);
	})
	})
};

var arrayOfNames1 = [];
var arrayOfNames2 = [];
var arrayOfNames3 = [];

searchSimilar (arrayOfArtists, arrayOfArtists[0], echoKey, arrayOfNames1)
searchSimilar (arrayOfArtists, arrayOfArtists[1], echoKey, arrayOfNames2)
searchSimilar (arrayOfArtists, arrayOfArtists[2], echoKey, arrayOfNames3)


var h1 = document.querySelector( "h1" );
var h2 = document.querySelector( "h2" );

var input = document.querySelector( "input" );
var searchButton = document.querySelector( "#searchButton" );
var popButton = document.querySelector( "#popButton" );
var wrapper = document.querySelector( ".wrapper" );
var container = document.querySelector( '#container' );

var generateTrack = function () {
	var spotWidget = document.createElement( 'iframe' )
	spotWidget.src =
		"https://embed.spotify.com/?uri=spotify:track:6eouYGSfcDirtm3u2Xtlqg"

	spotWidget.style.height = "10vh"
	spotWidget.style.width = "30vw"
	spotWidget.style.frameborder = "0"

	wrapper.appendChild( spotWidget )
};

popButton.addEventListener( "click", function () {
	var img = document.querySelector( "img" )

	var artistName = input.value.replace( " ", "+" );
	var albumName = input.value.replace( " ", "+" );
	// searchArtist( artistName, img );
	searchAlbums( albumName )

} );

var searchPopularity = function ( popQuery ) {
	var xhr = new XMLHttpRequest();
	var url = 'https://api.spotify.com/v1/search?q=artist:' + albumQuery +
		"&type=artist"
	xhr.open( "GET", url )
	xhr.addEventListener( 'load', function ( e ) {
		var obj = JSON.parse( xhr.responseText )
		// var popularity = obj.artists.
		var h3 = document.querySelector( "h3" );
		h3.innerHTML = albums;

	} )
	xhr.send();
};

var genSquares = function ( array ) {
	array.forEach( function ( artist ) {
		var xhr = new XMLHttpRequest();
		var url = "https://api.spotify.com/v1/search?q=artist:" + artist +
			"&type=artist"
		xhr.open( "GET", url )
		xhr.addEventListener( 'load', function ( e ) {

			var musicAct = JSON.parse( xhr.responseText )
			var container = document.querySelector( '#container' );

			var item = document.createElement( "img" )
			item.setAttribute( "class", "item" )
			var imgUrl = musicAct[ "artists" ][ "items" ][ 0 ][ "images" ][ 2 ].url;
			// var cssDiv = 'background-image:url(' + imgUrl + ') no-repeat';
			// item.setAttribute( 'style', cssDiv );
			item.src = imgUrl;

			container.appendChild( item )
			console.log( item );

		} );
		xhr.send();
	} );
};

var genLong = function ( array ) {
	array.forEach( function ( artist ) {
		var xhr = new XMLHttpRequest();
		var url = "https://api.spotify.com/v1/search?q=artist:" + artist +
			"&type=artist"
		xhr.open( "GET", url )
		xhr.addEventListener( 'load', function ( e ) {

			var musicAct = JSON.parse( xhr.responseText )
			var container = document.querySelector( '#container' );

			var item = document.createElement( "div" )
			item.setAttribute( "class", "item i2" )
			var imgUrl = musicAct[ "artists" ][ "items" ][ 0 ][ "images" ][ 0 ].url;
			var cssDiv = 'background-image: url("' + imgUrl + '") ';
			item.setAttribute( 'style', cssDiv );

			container.appendChild( item )
			console.log( item );

		} );
		xhr.send();
	} );
};

var generatePopGraph = function ( array ) {
	array.forEach( function ( artist ) {
		var xhr = new XMLHttpRequest();
		var url = "https://api.spotify.com/v1/search?q=artist:" + artist +
			"&type=artist"
		xhr.open( "GET", url )
		xhr.addEventListener( 'load', function ( e ) {

			var musicAct = JSON.parse( xhr.responseText )
			console.log( musicAct );
			var container = document.querySelector( '#container' );
			var img = document.createElement( "img" )
			img.src = musicAct[ "artists" ][ "items" ][ 0 ][ "images" ][ 0 ].url
			container.appendChild( img )
			// h1.innerText = musicAct.name

		} );
		xhr.send();
	} );
};

genSquares( arrayOfArtists );
// genLong( longPics );

var searchArtist = function ( artist, img ) {
	var xhr = new XMLHttpRequest();
	var url = "https://api.spotify.com/v1/search?q=artist:" + artist +
		"&type=artist"
	xhr.open( "GET", url )
	xhr.addEventListener( 'load', function ( e ) {

		var musicAct = JSON.parse( xhr.responseText )
		console.log( musicAct );
		var container = document.querySelector( '#container' );
		var img = document.createElement( "img" )

		img.src = musicAct.artists.items[ 0 ].images[ 0 ].url
		container.appendChild( img )

	} );
	xhr.send();
};

var generatePics = function ( array ) {
	array.forEach( function ( artist ) {
		var xhr = new XMLHttpRequest();
		var url = "https://api.spotify.com/v1/search?q=artist:" + artist +
			"&type=artist"
		xhr.open( "GET", url )
		xhr.addEventListener( 'load', function ( e ) {

			var musicAct = JSON.parse( xhr.responseText )
			var container = document.querySelector( '#container' );
			var item = document.createElement( "div" )
			item.setAttribute( "class", "item" )
			var imgUrl = musicAct[ "artists" ][ "items" ][ 0 ][ "images" ][ 0 ].url;
			var cssDiv = 'background-image: url("' + imgUrl + '") ';
			item.setAttribute( 'style', cssDiv );

			container.appendChild( item )
			console.log( item );

		} );
		xhr.send();
	} );
};

searchButton.addEventListener( "click", function () {
	var img = document.querySelector( "img" )
	var artistName = input.value.replace( " ", "+" );
	searchArtist( artistName, img );

} );

</script>
</body>
</html>